@model List<ResultCityDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Şehir Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Şehir ilgili işlemlerin gerçekleştireleceği sayfadır.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Şehir Adı</th>
                                        <th>Şehir Açıklaması</th>
                                        <th>Şehir Resmi</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Name</td>
                                            <td>@item.Description</td>
                                            <td>@item.ImageUrl</td>
                                            <td><a href="/Admin/AdminCity/RemoveCity/@item.CityID" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/Admin/AdminCity/UpdateCity/@item.CityID" class="btn btn-outline-success">Güncelle</a></td>


                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <td><a href="/Admin/AdminCity/CreateCity" class="btn btn-outline-primary">Yeni Şehir Girişi</a></td>
                        </div>

                    </div>

                </div>


            </div>


        </div>



    </div>
</div>


