@model UpdateCityDetailDto
@{
    ViewData["Title"] = "UpdateCity";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Şeihr Veri Girişi Alanı</h4>
                        <p class="card-subtitle mb-4"> Ana Sayfanın About alanında bulunan bilgileri aşağıdan düzenleyebilirsiniz.</p>
                        <form method="post">
                            <input type="hidden" asp-for="CityID" />
                            <div class="form-group">
                                <label for="exampleInputTitle">Şehir Adı</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Name" placeholder="Başlığı Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDescription">Şehir Açıklama</label>
                                <textarea rows="5" asp-for="Description" class="form-control" placeholder="Açıklamayı Giriniz"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputVideoImageUrl">Şehir Resmi</label>
                                <input type="text" class="form-control" id="exampleInputVideoImageUrl" asp-for="ImageUrl" placeholder="Hakkımda Kapak Fotoğraf Linkini Giriniz">
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">şehir Bilgisini Kaydet</button>
                        </form>

                    </div>
                </div>


            </div>

        </div>


    </div>


</div>

