@model List<ResultBlogDto>

<div class="container my-5">
    <h2 class="mb-4 text-center fw-bold">Popüler Blog Yazıları</h2>
    <div class="row g-4">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-lg-3">
                <div class="card blog-card shadow-lg border-0 rounded-4">

                    <div class="image-container">
                        <a href="/Blog/BlogDetail/@item.BlogID">
                        <img src="@item.ImageUrl" class="card-img-top rounded-top-4" alt="Blog Image">
                        </a>
                    </div>

                    <div class="card-body">
                        <span class="badge bg-success mb-2 px-3 py-2 rounded-pill">@item.Title</span>
                        <h5 class="card-title fw-bold">@item.Content</h5>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
.blog-card .image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 200px; 
}

.blog-card .image-container img {
    object-fit: cover; 
    width: 100%;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px; 
}

.card-title {
    font-size: 1.1rem;
}
</style>